// login.component.scss
.container {
  .form-control {
    border-radius: 0;
    margin-bottom: 1rem;
  }

  button.btn {
    background-color: #0056b3;
    border-radius: 0;
  }

  a {
    color: #0056b3; // Brand color for links
  }
}
