<app-navigation></app-navigation>


<div class="container my-5">
  <div class="row align-items-center">

    <div class="col-md-6 text-container">
      <p class="text-uppercase text-muted">Our newest release</p>
      <h1 class="display-4 font-weight-bold">MacBook Air</h1>
      <p class="lead">Bizarrely thin and fast. Work, play, and create wherever you are.</p>
      <a href="#" class="btn btn-lg btn-primary btn-custom">Shop Now</a>
    </div>

    <div class="col-md-6">
      <img src="assets/img/maxbookair.jpg" alt="Elegant Devices" class="img-fluid image-style">
    </div>
  </div>
</div>


<!-- Best Sellers Section -->
<!--<div class="best-sellers-section py-5 bg-light">-->
<!--  <div class="container">-->
<!--    <h2 class="text-center">Best Sellers</h2>-->
<!--    <div class="row">-->
<!--      &lt;!&ndash; Use *ngFor to iterate over best seller products and create cards &ndash;&gt;-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
