<app-navigation></app-navigation>

<!--top section-->
<div class="container my-5">
  <div class="row align-items-center">

    <div class="col-md-6 text-container">
      <p class="text-uppercase text-muted">Our newest release</p>
      <h1 class="display-4 font-weight-bold">MacBook Air</h1>
      <p class="lead">Bizarrely thin and fast. Work, play, and create wherever you are.</p>
      <a href="#" class="btn btn-lg btn-primary btn-custom">Shop Now</a>
    </div>

    <div class="col-md-6">
      <img src="assets/img/maxbookair.jpg" alt="Elegant Devices" class="img-fluid image-style">
    </div>
  </div>
</div>

<app-bestsellers></app-bestsellers>


<app-footer></app-footer>


